/* Statistic styles inspired by SemanticUI */
div.statistic {
  display: inline-flex;
  flex-direction: column;
  text-align: center;

  .value {
    font-size: 4rem;
    text-transform: uppercase;
    line-height: 1em;
  }
  .name {
    font-size: 1em;
    text-transform: uppercase;
  }
}
div.statistics {
  display: inline-block;
  margin-top: 20px;

  .statistic {
    margin: 0 10px;
  }
}